<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miku.minadevelop.modules.mapper.FansMapper">
    <select id="selectCustomPage" resultType="com.miku.minadevelop.modules.response.FansResp">
        SELECT
            users.user_id      AS user_id,
               follow.user_id     AS followUserId,
--                users.nickname     AS nickname,
               follow.nickname    AS followNickname,
--                users.avatar       AS avatar,
               follow.avatar      AS followAvatar,
               fans.is_follow,
               backFans.is_follow as isBackFollow
        FROM cc_fans fans
                 LEFT JOIN
             cc_user users ON fans.user_id = users.user_id
                 LEFT JOIN
             cc_user follow ON fans.follow_user_id = follow.user_id
                 LEFT JOIN cc_fans backFans
                           ON backFans.user_id = fans.follow_user_id and backFans.follow_user_id = fans.user_id and fans.is_follow = 1
            ${ew.customSqlSegment}
    </select>
    <select id="selectFansByUserId" resultType="com.miku.minadevelop.modules.response.FansResp">
        select user.*, fans.is_follow
        from cc_user user left join cc_fans fans
        on  fans.user_id = ${followUid}
        where user.user_id = ${uid}
    </select>
    <select id="selectFansListByUid" resultType="com.miku.minadevelop.modules.response.FansResp">
        SELECT fans.*, user.nickname AS followNickname
        FROM cc_fans fans LEFT JOIN cc_user user
        ON fans.user_id = user.user_id
            ${ew.customSqlSegment}
    </select>
</mapper>
